<ion-view cache-view="false" view-title="unChub" style="background-color: #fff7d1;">
  <ion-content style="text-align: center;">
      <br>
        <h3 style="color: #004358">Net Weekly Score: </h3> 
        <h1> {{score}} </h1>
        <h5 style="color: #004358"> {{greeting}} </h5>
       
        <canvas text-align="center" style="padding: 10px;" id="line" class="chart chart-line" data="data"
          labels="labels" colours="colours">
        </canvas> 
        <br>
        <br>
        <button class="button button-positive" ng-click="goLog()">
            Log New Activity
        </button>
       
  </ion-content>
    <div class="bar bar-footer bar-balanced">
        <p>     unChub your life </p>
    </div>
</ion-view>
