<ion-view view-title="Log Activity">
  <ion-content>
        <h2> Log Activity </h2>
        <button class="button button-block button-balanced" ng-click="logRun()">
         Go for a Run
        </button>
        <button class="button button-block button-balanced">
         Go to the Gym
        </button>
        <button class="button button-block button-assertive">
         Get Drunk
        </button>
        <button class="button button-block button-assertive">
         Smoke Pot
        </button>
  </ion-content>
</ion-view>
