<ion-view view-title="Settings" style="background-color: #fffacc;">
  <ion-content style="text-align: center;">
      <br>
        <button class="button button-assertive" ng-click="eraseTable()">
         Erase All Records
        </button>
      <br>
      <br>
      <p> Warning: Erasing all records will reset your current weekly score, you will not be able to recover your saved activities</p>
  </ion-content>
    <div class="bar bar-footer bar-balanced">
        <p>     unChub your life </p>
    </div>
</ion-view>